/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #ffffff;
    /* Adjust background color as needed */
    color: #ffffff;
    /* Adjust text color as needed */
}

/* Logo styles */
.logo-container {
    flex: 1;
    /* Logo takes up available space on the left */
}

.logo {
    width: 150px;
    /* Adjust logo width as needed */
    height: auto;
}

/* Login button styles */
/* Login button styles */
.login-container {
    margin-left: 20px;
    /* Adjust margin as needed */
}

.login-button {
    padding: 12px 24px;
    /* Adjust padding as needed for a larger button */
    background: linear-gradient(90deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
    /* Gradient colors and positions */
    color: #ffffff;
    /* Adjust button text color as needed */
    border: none;
    border-radius: 8px;
    /* Pointy edges */
    /* Adjust border-radius as needed */
    cursor: pointer;
}

.login-button:hover {
    background-color: #b3b3b3;
    /* Adjust button hover background color as needed */
}