/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #ffffff;
    /* Adjust background color as needed */
    color: #ffffff;
    /* Adjust text color as needed */
}

/* Logo styles */
.logo-container {
    flex: 1;
    /* Logo takes up available space on the left */
}

.logo {
    width: 150px;
    /* Adjust logo width as needed */
    height: auto;
}

/* Login button styles */
/* Login button styles */
/* NavbarButtons.css */
.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button,
.signup-button {
    padding: 10px 20px;
    /* Adjust padding as needed */
    background: linear-gradient(90deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
    /* Add linear gradient as specified */
    color: #ffffff;
    /* Adjust button text color as needed */
    border: 1px solid #3864B3;
    /* Add solid border with the first color of the gradient */
    border-radius: 5px;
    /* Adjust border-radius as needed */
    cursor: pointer;
    margin-left: 20px;
    /* Adjust margin between buttons as needed */
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
    /* Add smooth transition */
}

.login-button:hover,
.signup-button:hover {
    background: linear-gradient(90deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
    /* Adjust gradient as needed */
    color: #ffffff;
    /* Adjust text color on hover as needed */
}

.signup-button {
    padding: 10px 20px;
    /* Adjust padding for Signup button */
}


/* NavbarLinks.css */
.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 850px;
    /* Adjust margin as needed */
}

.navbar-link {
    color: rgb(20, 98, 143);
    /* Adjust link color as needed */
    text-decoration: none;
    margin-right: 20px;
    /* Adjust margin between links as needed */
}

.navbar-link:hover {
    text-decoration: underline;
}