/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #ffffff;
    /* Adjust background color as needed */
    color: #ffffff;
    /* Adjust text color as needed */
}

/* Logo styles */
.logo-container {
    flex: 1;
    /* Logo takes up available space on the left */
}

.logo {
    width: 170px;
    /* Adjust logo width as needed */
    height: auto;
}

/* Login button styles */
/* Login button styles */
/* NavbarButtons.css */
.buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button,
.signup-button {
    padding: 10px 20px;
    background: #ffffff;
    color: #3864B3;
    border: 1px solid;
    border-image: linear-gradient(90deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
    border-image-slice: 1;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    transition: background 0.3s ease, color 0.3s ease, border-image 0.3s ease;
}

.login-button:hover,
.signup-button:hover {
    background: linear-gradient(90deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
    color: #ffffff;
    border-image: linear-gradient(270deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
}

/* NavbarLinks.css */
.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0px;
    /* Adjust margin as needed */
}

.navbar-link {
    color: rgb(20, 98, 143);
    font-family: 'Barlow', sans-serif;
    /* Add Barlow font or adjust the font as needed */
    font-weight: bold;
    /* Make the text a little bold */
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
    /* Add smooth transition for color */
}

.navbar-link:hover {
    text-decoration: underline;
    color: linear-gradient(90deg, #3864B3 0%, #2F5597 31%, #EC73FF 83%);
    /* Apply the specified gradient on hover */
}